.app {
  display: flex;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background: yellow;
}

.menu {
  height: 100%;
}

.link {
  display: block;
}

.content {
  max-height: calc(100vh - 8px);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 4px 8px;
  background: #000;
}
